{% extends 'base.html.twig' %}

{% block title %}New Participant
{% endblock %}

{% block body %}
	<section class="bg-white dark:bg-gray-900">
		<div class="flex max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 flex-col">

			<nav class="flex mb-4" aria-label="Breadcrumb">
				<ol class="inline-flex items-center space-x-1 md:space-x-3 rtl:space-x-reverse">
					<li class="inline-flex items-center">
						<a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2">
								<path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
							</svg>

							Accueil
						</a>
					</li>
					<li aria-current="page">
						<div class="flex items-center">
							<svg class="w-3 h-3 text-gray-400 mx-1 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
							</svg>
							<span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Nouveau participant</span>
						</div>
					</li>
				</ol>
			</nav>
			<h2 class="mb-8 text-3xl font-extrabold leading-none tracking-tight text-gray-800 md:text-4xl dark:text-white inline-flex items-end justify-between">
				Nouveau participant
			</h2>
			<div class="max-w-2xl">
				{{ form_start(form) }}
				{{ form_row(form._token) }}
				<div class="my-5 w-full space-y-3">
					<h3 class="font-bold text-lg leading-none tracking-tight text-gray-500">Information participant</h3>
					<div class="flex w-full space-x-3">
						<div class="w-1/2">
							<label for="{{ field_name(form.name) }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
								Nom
							</label>
							<input type="text" id="{{ field_name(form.name) }}" name="{{ field_name(form.name) }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Votre nom" value="{{ field_value(form.name) }}" required/>
						</div>
						<div class="w-1/2">
							<label for="{{ field_name(form.email) }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
								Email
							</label>
							<input type="email" id="{{ field_name(form.email) }}" name="{{ field_name(form.email) }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Votre email" value="{{ field_value(form.email) }}" required/>
						</div>
					</div>
					<div class="flex w-full space-x-3">
						<div class="w-1/2">
							<label for="{{ field_name(form.address_long) }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
								Longitude
							</label>
							<input type="text" id="{{ field_name(form.address_long) }}" name="{{ field_name(form.address_long) }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Longitude" value="{{ field_value(form.address_long) }}" required/>
						</div>
						<div class="w-1/2">
							<label for="{{ field_name(form.address_lat) }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
								Latitude
							</label>
							<input type="text" id="{{ field_name(form.address_lat) }}" name="{{ field_name(form.address_lat) }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Latitude" value="{{ field_value(form.address_lat) }}" required/>
						</div>
					</div>
					<div class="space-y-3">
						<h3 class="font-bold mt-8 text-lg leading-none tracking-tight text-gray-500">Information événement</h3>
						<div class="flex w-full space-x-3">
							<div class="w-full">
								<label for="{{ field_name(form.events) }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
									Événement
								</label>
								<select id="{{ field_name(form.events) }}" name="{{ field_name(form.events) }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
									<option value="">--- Choisissez l'événement ---</option>
									{% for label, value  in field_choices(form.events) %}
										<option value="{{ value }}" {{ form.events.vars.value is same as value ? "selected" : "" }}>{{ label }}
										</option>
									{% endfor %}
								</select>
							</div>
						</div>

					</div>
				</div>

				<div class="w-1/2">
					<button class="bg-gray-800 hover:bg-gray-900 text-white px-4 py-2 rounded-md shadow">
						{{ button_label|default('Ajouter') }}
					</button>
				</div>
				{{ form_end(form, {'render_rest': false}) }}</div>
		</div>
	</div>
</div>{% endblock %}
